<ion-view title="Analytics">
    <ion-content padding="'true'" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
        <button class="button button-stable button-outline button-block" ng-click="record()">RECORD!</button>
        <button class="button button-stable button-outline button-block" ng-click="stop()">STOP!</button>
        <button class="button button-stable button-outline button-block" ng-click="playback()">PLAYBACK!</button>
        
		
		
		<label class="item item-input">
		<span class="input-label">Filename</span>
                <input type="text" ng-model="foo.filename">
		</label>
		<label class="item item-input">
		<span class="input-label">Number</span>
				<input type="tel" ng-model="foo.number">
		</label>
		
		<button class="button button-block" ng-click="start()">start</button>
		<button class="button button-block" ng-click="update()"=>update notification</button>
		<button class="button button-block" ng-click="save()">add notification</button>
        
        <button class="button button-block" ng-click="delete()">Delete 1</button>
		<button class="button button-block" ng-click="deleteRecursive()"=>Delete All</button>
      

    </ion-content>
</ion-view>