<ion-view title="Pre-Recording Details">
    <ion-content padding="'true'" style="background: url(img/background.jpg) no-repeat center;" class="has-header">
            <h3>Before we begin, would you mind letting us know a few things?</h3>
        <form class="list">
            <h4>Are you elsewhere than usual for this recording?</h4>
            <table style="width:100%">
            <tr>
            <td>
            <ion-checkbox ng-model ="Sick_YES" ng-click="toggle()" name="Sick_YES">Yes</ion-checkbox>
            </td>
            <td>
            <ion-checkbox ng-model ="Sick_NO" ng-click="toggle()" name="Sick_No">No</ion-checkbox>
            </tr>
            </table>
            <h4>Are you elsewhere than usual for this recording?</h4>
            <table style="width:100%">
                <tr>
                    <td>
                        <ion-checkbox ng-model="Other_Loc_Yes" ng-click="toggle()" name="Other_Loc_Yes">Yes</ion-checkbox>
                    </td>
                    <td>
                        <ion-checkbox ng-model="Other_Loc_No" ng-click="toggle()" name="Other_Loc_No">No</ion-checkbox>
                </tr>
            </table>

            <button class="button button-stable button-block button-full" ng-click="begin()">GO</button>
        </form>
    </ion-content>
</ion-view>